#orderDryList .additional-services-item:nth-child(n + 7){
	display: none;
}
#orderDryList.active .additional-services-item:nth-child(n + 7){
	display: block;
}
#orderDryList + .d-flex.justify-content-center svg {
	transform: rotate(180deg);
}
#orderDryList.active + .d-flex.justify-content-center svg {
	transform: rotate(0);
}
@media screen and (max-width: 1180px) {
	#orderDryList .additional-services-item:nth-child(n + 5){
		display: none;
	}
	#orderDryList.active .additional-services-item:nth-child(n + 5){
		display: block;
	}
}
@media screen and (max-width: 1024px) {
	#orderDryList .additional-services-item:nth-child(n + 4){
		display: none;
	}
	#orderDryList.active .additional-services-item:nth-child(n + 4){
		display: block;
	}
}
@media screen and (max-width: 580px) {
	#orderDryList .additional-services-item:nth-child(n + 3){
		display: none;
	}
	#orderDryList.active .additional-services-item:nth-child(n + 3){
		display: block;
	}
}